body {
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.menu {
    width: 30%;
    height: 80vh;
    background-color: yellow;
}

.contenedor {
    width: 70%;
    height: 80vh;
    /* background-color: black; */
}

.reproductor {
    width: 100%;
    height: 20vh;
    background-color: red;
}

.buscador {
    width: 100%;
    height: 20%;
    background-color: blueviolet;
}

.contenido {
    width: 100%;
    height: 80%;
    display: flex;
    /* background-color: plum ; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}